# Device configuration
[FEED1] # first ied
socket=/run/iec61850_ui/iec61850_relay_1.sock
# Controllable objects
cbr1                = FEED1LD1/XCBR1
swi2                = FEED1LD1/XSWI2
swi3                = FEED1LD1/XSWI3
swi4                = FEED1LD1/XSWI4

# Measurements
ctr1                = FEED1LD1/MMXU1
vtr1                = FEED1LD1/MMXU2
vtr2                = FEED1LD1/MMXU3

# Settings
loc                = FEED1LD1/LLN0
s_Ilarge             = FEED1LD1/PTOC1, StrVal.setMag.f
s_Tm                 = FEED1LD1/PTOC1, TmMult.setMag.f 
s_swi2_blkopn        = FEED1LD1/XSWI2, BlkOpn.stVal
s_swi2_blkcls        = FEED1LD1/XSWI2, BlkCls.stVal
s_swi3_blkopn        = FEED1LD1/XSWI3, BlkOpn.stVal
s_swi3_blkcls        = FEED1LD1/XSWI3, BlkCls.stVal
s_swi4_blkopn        = FEED1LD1/XSWI4, BlkOpn.stVal
s_swi4_blkcls        = FEED1LD1/XSWI4, BlkCls.stVal
m_ctr1_phsA       = FEED1LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = FEED1LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = FEED1LD1/MMXU1, A.phsC.cVal.mag.f
m_ctr1_phsAngA    = FEED1LD1/MMXU1, A.phsA.cVal.ang.f
m_ctr1_phsAngB    = FEED1LD1/MMXU1, A.phsB.cVal.ang.f
m_ctr1_phsAngC    = FEED1LD1/MMXU1, A.phsC.cVal.ang.f

m_v1_pA         = FEED1LD1/MMXU2, PhV.phsA.cVal.mag.f
m_v1_pB         = FEED1LD1/MMXU2, PhV.phsB.cVal.mag.f
m_v1_pC         = FEED1LD1/MMXU2, PhV.phsC.cVal.mag.f
m_v1_aA         = FEED1LD1/MMXU2, PhV.phsA.cVal.ang.f
m_v1_aB         = FEED1LD1/MMXU2, PhV.phsB.cVal.ang.f
m_v1_aC         = FEED1LD1/MMXU2, PhV.phsC.cVal.ang.f

m_v2_pA         = FEED1LD1/MMXU3, PhV.phsA.cVal.mag.f
m_v2_pB         = FEED1LD1/MMXU3, PhV.phsB.cVal.mag.f
m_v2_pC         = FEED1LD1/MMXU3, PhV.phsC.cVal.mag.f
m_v2_aA         = FEED1LD1/MMXU3, PhV.phsA.cVal.ang.f
m_v2_aB         = FEED1LD1/MMXU3, PhV.phsB.cVal.ang.f
m_v2_aC         = FEED1LD1/MMXU3, PhV.phsC.cVal.ang.f

[FEED2] # second ied
socket=/run/iec61850_ui/iec61850_relay_2.sock
# Controllable objects
cbr1                = FEED2LD1/XCBR1
swi2                = FEED2LD1/XSWI2
swi3                = FEED2LD1/XSWI3
swi4                = FEED2LD1/XSWI4

# Measurements
ctr1                = FEED2LD1/MMXU1
vtr1                = FEED2LD1/MMXU2
vtr2                = FEED2LD1/MMXU3

# Settings
loc            = FEED2LD1/LLN0
s_Ilarge         = FEED2LD1/PTOC1, StrVal.setMag.f
s_Tm             = FEED2LD1/PTOC1, TmMult.setMag.f 
s_swi2_blkopn        = FEED2LD1/XSWI2, BlkOpn.stVal
s_swi2_blkcls        = FEED2LD1/XSWI2, BlkCls.stVal
s_swi3_blkopn        = FEED2LD1/XSWI3, BlkOpn.stVal
s_swi3_blkcls        = FEED2LD1/XSWI3, BlkCls.stVal
s_swi4_blkopn        = FEED2LD1/XSWI4, BlkOpn.stVal
s_swi4_blkcls        = FEED2LD1/XSWI4, BlkCls.stVal

m_ctr1_phsA       = FEED2LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = FEED2LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = FEED2LD1/MMXU1, A.phsC.cVal.mag.f
m_ctr1_phsAngA    = FEED2LD1/MMXU1, A.phsA.cVal.ang.f
m_ctr1_phsAngB    = FEED2LD1/MMXU1, A.phsB.cVal.ang.f
m_ctr1_phsAngC    = FEED2LD1/MMXU1, A.phsC.cVal.ang.f

m_v1_pA         = FEED2LD1/MMXU2, PhV.phsA.cVal.mag.f
m_v1_pB         = FEED2LD1/MMXU2, PhV.phsB.cVal.mag.f
m_v1_pC         = FEED2LD1/MMXU2, PhV.phsC.cVal.mag.f
m_v1_aA         = FEED2LD1/MMXU2, PhV.phsA.cVal.ang.f
m_v1_aB         = FEED2LD1/MMXU2, PhV.phsB.cVal.ang.f
m_v1_aC         = FEED2LD1/MMXU2, PhV.phsC.cVal.ang.f

m_v2_pA         = FEED2LD1/MMXU3, PhV.phsA.cVal.mag.f
m_v2_pB         = FEED2LD1/MMXU3, PhV.phsB.cVal.mag.f
m_v2_pC         = FEED2LD1/MMXU3, PhV.phsC.cVal.mag.f
m_v2_aA         = FEED2LD1/MMXU3, PhV.phsA.cVal.ang.f
m_v2_aB         = FEED2LD1/MMXU3, PhV.phsB.cVal.ang.f
m_v2_aC         = FEED2LD1/MMXU3, PhV.phsC.cVal.ang.f


[BUS1] # third ied
socket=/run/iec61850_ui/iec61850_relay_3.sock
# Measurements
ctr1                = BUS1LD1/MMXU1
ctr2                = BUS1LD1/MMXU2
ctr3                = BUS1LD1/MMXU3
ctr4                = BUS1LD1/MMXU4
vtr1                = BUS1LD1/MMXU5

# Settings
loc               = BUS1LD1/LLN0

s_cilo1           = BUS1LD1/CILO1, EnaOpn.stVal
s_cilo2           = BUS1LD1/CILO2, EnaOpn.stVal
s_cilo3           = BUS1LD1/CILO3, EnaOpn.stVal
s_cilo4           = BUS1LD1/CILO4, EnaOpn.stVal

m_ctr1_phsA       = BUS1LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = BUS1LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = BUS1LD1/MMXU1, A.phsC.cVal.mag.f

m_ctr2_phsA       = BUS1LD1/MMXU2, A.phsA.cVal.mag.f
m_ctr2_phsB       = BUS1LD1/MMXU2, A.phsB.cVal.mag.f
m_ctr2_phsC       = BUS1LD1/MMXU2, A.phsC.cVal.mag.f

m_ctr3_phsA       = BUS1LD1/MMXU3, A.phsA.cVal.mag.f
m_ctr3_phsB       = BUS1LD1/MMXU3, A.phsB.cVal.mag.f
m_ctr3_phsC       = BUS1LD1/MMXU3, A.phsC.cVal.mag.f

m_ctr4_phsA       = BUS1LD1/MMXU4, A.phsA.cVal.mag.f
m_ctr4_phsB       = BUS1LD1/MMXU4, A.phsB.cVal.mag.f
m_ctr4_phsC       = BUS1LD1/MMXU4, A.phsC.cVal.mag.f

m_v1_pA           = BUS1LD1/MMXU5, PhV.phsA.cVal.mag.f
m_v1_pB           = BUS1LD1/MMXU5, PhV.phsB.cVal.mag.f
m_v1_pC           = BUS1LD1/MMXU5, PhV.phsC.cVal.mag.f

[BUS2] # fourth ied
socket=/run/iec61850_ui/iec61850_relay_4.sock
# Measurements
ctr1                = BUS2LD1/MMXU1
ctr2                = BUS2LD1/MMXU2
ctr3                = BUS2LD1/MMXU3
ctr4                = BUS2LD1/MMXU4
vtr1                = BUS2LD1/MMXU5


# Settings
loc               = BUS2LD1/LLN0

s_cilo1           = BUS2LD1/CILO1, EnaOpn.stVal
s_cilo2           = BUS2LD1/CILO2, EnaOpn.stVal
s_cilo3           = BUS2LD1/CILO3, EnaOpn.stVal
s_cilo4           = BUS2LD1/CILO4, EnaOpn.stVal

m_ctr1_phsA       = BUS2LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = BUS2LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = BUS2LD1/MMXU1, A.phsC.cVal.mag.f

m_ctr2_phsA       = BUS2LD1/MMXU2, A.phsA.cVal.mag.f
m_ctr2_phsB       = BUS2LD1/MMXU2, A.phsB.cVal.mag.f
m_ctr2_phsC       = BUS2LD1/MMXU2, A.phsC.cVal.mag.f

m_ctr3_phsA       = BUS2LD1/MMXU3, A.phsA.cVal.mag.f
m_ctr3_phsB       = BUS2LD1/MMXU3, A.phsB.cVal.mag.f
m_ctr3_phsC       = BUS2LD1/MMXU3, A.phsC.cVal.mag.f

m_ctr4_phsA       = BUS2LD1/MMXU4, A.phsA.cVal.mag.f
m_ctr4_phsB       = BUS2LD1/MMXU4, A.phsB.cVal.mag.f
m_ctr4_phsC       = BUS2LD1/MMXU4, A.phsC.cVal.mag.f

m_v1_pA           = BUS2LD1/MMXU5, PhV.phsA.cVal.mag.f
m_v1_pB           = BUS2LD1/MMXU5, PhV.phsB.cVal.mag.f
m_v1_pC           = BUS2LD1/MMXU5, PhV.phsC.cVal.mag.f


[TR1] # fifth ied
socket=/run/iec61850_ui/iec61850_relay_5.sock
# Controllable objects
cbr1                = TR1LD1/XCBR1
swi2                = TR1LD1/XSWI2
swi3                = TR1LD1/XSWI3

# Measurements
ctr1                = TR1LD1/MMXU1
vtr1                = TR1LD1/MMXU2
vtr2                = TR1LD1/MMXU3

# Settings
loc                  = TR1LD1/LLN0
s_Ilarge             = TR1LD1/PTOC1, StrVal.setMag.f
s_Tm                 = TR1LD1/PTOC1, TmMult.setMag.f 
s_swi2_blkopn        = TR1LD1/XSWI2, BlkOpn.stVal
s_swi2_blkcls        = TR1LD1/XSWI2, BlkCls.stVal
s_swi3_blkopn        = TR1LD1/XSWI3, BlkOpn.stVal
s_swi3_blkcls        = TR1LD1/XSWI3, BlkCls.stVal

m_ctr1_phsA       = TR1LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = TR1LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = TR1LD1/MMXU1, A.phsC.cVal.mag.f
m_ctr1_phsAngA    = TR1LD1/MMXU1, A.phsA.cVal.ang.f
m_ctr1_phsAngB    = TR1LD1/MMXU1, A.phsB.cVal.ang.f
m_ctr1_phsAngC    = TR1LD1/MMXU1, A.phsC.cVal.ang.f

m_v1_pA         = TR1LD1/MMXU2, PhV.phsA.cVal.mag.f
m_v1_pB         = TR1LD1/MMXU2, PhV.phsB.cVal.mag.f
m_v1_pC         = TR1LD1/MMXU2, PhV.phsC.cVal.mag.f
m_v1_aA         = TR1LD1/MMXU2, PhV.phsA.cVal.ang.f
m_v1_aB         = TR1LD1/MMXU2, PhV.phsB.cVal.ang.f
m_v1_aC         = TR1LD1/MMXU2, PhV.phsC.cVal.ang.f

m_v2_pA         = TR1LD1/MMXU3, PhV.phsA.cVal.mag.f
m_v2_pB         = TR1LD1/MMXU3, PhV.phsB.cVal.mag.f
m_v2_pC         = TR1LD1/MMXU3, PhV.phsC.cVal.mag.f
m_v2_aA         = TR1LD1/MMXU3, PhV.phsA.cVal.ang.f
m_v2_aB         = TR1LD1/MMXU3, PhV.phsB.cVal.ang.f
m_v2_aC         = TR1LD1/MMXU3, PhV.phsC.cVal.ang.f

[TR2] # sixth ied
socket=/run/iec61850_ui/iec61850_relay_6.sock
# Controllable objects
cbr1                = TR2LD1/XCBR1
swi2                = TR2LD1/XSWI2
swi3                = TR2LD1/XSWI3

# Measurements
ctr1                = TR2LD1/MMXU1
vtr1                = TR2LD1/MMXU2
vtr2                = TR2LD1/MMXU3

# Settings
loc                 = TR2LD1/LLN0
s_Ilarge            = TR2LD1/PTOC1, StrVal.setMag.f
s_Tm                = TR2LD1/PTOC1, TmMult.setMag.f 
s_swi2_blkopn        = TR1LD1/XSWI2, BlkOpn.stVal
s_swi2_blkcls        = TR1LD1/XSWI2, BlkCls.stVal
s_swi3_blkopn        = TR1LD1/XSWI3, BlkOpn.stVal
s_swi3_blkcls        = TR1LD1/XSWI3, BlkCls.stVal

m_ctr1_phsA       = TR2LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = TR2LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = TR2LD1/MMXU1, A.phsC.cVal.mag.f
m_ctr1_phsAngA    = TR2LD1/MMXU1, A.phsA.cVal.ang.f
m_ctr1_phsAngB    = TR2LD1/MMXU1, A.phsB.cVal.ang.f
m_ctr1_phsAngC    = TR2LD1/MMXU1, A.phsC.cVal.ang.f

m_v1_pA         = TR2LD1/MMXU2, PhV.phsA.cVal.mag.f
m_v1_pB         = TR2LD1/MMXU2, PhV.phsB.cVal.mag.f
m_v1_pC         = TR2LD1/MMXU2, PhV.phsC.cVal.mag.f
m_v1_aA         = TR2LD1/MMXU2, PhV.phsA.cVal.ang.f
m_v1_aB         = TR2LD1/MMXU2, PhV.phsB.cVal.ang.f
m_v1_aC         = TR2LD1/MMXU2, PhV.phsC.cVal.ang.f

m_v2_pA         = TR2LD1/MMXU3, PhV.phsA.cVal.mag.f
m_v2_pB         = TR2LD1/MMXU3, PhV.phsB.cVal.mag.f
m_v2_pC         = TR2LD1/MMXU3, PhV.phsC.cVal.mag.f
m_v2_aA         = TR2LD1/MMXU3, PhV.phsA.cVal.ang.f
m_v2_aB         = TR2LD1/MMXU3, PhV.phsB.cVal.ang.f
m_v2_aC         = TR2LD1/MMXU3, PhV.phsC.cVal.ang.f


