# /etc/systemd/system/server3.service
[Unit]
Description=C++ server 3
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
Group=root

ExecStartPre=/usr/bin/mkdir -p /run/iec61850_ui
ExecStartPre=/bin/chown user /run/iec61850_ui
                                          
WorkingDirectory=/opt/iec61850_open_server

ExecStart=/opt/iec61850_open_server/open_server \
		-e eth0 \
		-i 172.16.1.30 \
		-p 102 \
		-c cfg/BUS1.cfg \
		-x cfg/BUS1.ext \
		-t L

Restart=on-failure
RestartSec=5


StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
