# /etc/systemd/system/server4.service
[Unit]
Description=C++ server 4
After=bridge-veth.service
Requires=bridge-veth.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
Group=root

ExecStartPre=/usr/bin/mkdir -p /run/iec61850_ui
ExecStartPre=/bin/chown user /run/iec61850_ui
                                          
WorkingDirectory=/opt/iec61850_open_server

ExecStart=/opt/iec61850_open_server/open_server \
		-e veth4p \
		-i 172.16.1.31 \
		-p 102 \
		-c cfg/BUS2.cfg \
		-x cfg/BUS2.ext \
		-t L

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
