# /etc/systemd/system/ui.service
[Unit]
Description=Python ui App
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/opt/ui_service

Environment=PYTHONUNBUFFERED=1

ExecStart=/usr/bin/python3 /opt/ui_service/relay_320x480.py

Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target